Body, html {
  margin: 0;
  padding: 0;
  background-image: url(../assests/img/img1.jpg) no-repeat;
  background-size: cover;
}
.box {
  width: 450px;
  background: rgba(rgba(255, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin:auto;
  margin-top: 5%
  color: white;
}
.box-img{
  border-radius: 50%
  width: 200px;
  height: 200px;
}
.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight:400;
}
.box h2 {
  font-size: 25px;
  letter-spacing:3px;
  font-weight: 100;
}
.box p {
  text-align: justify;
}
